@charset "utf-8";
/* CSS Document */
body{
	text-align:center;
	background-color:hsla(100,100%,100%,1.00);
	height:700px;
	weight:1200px;
	background-image:url(pics/bkimg.jpg)}
#123{
	writing-mode:lt-tb;
	background-color:hsla(0,100%,78%,1.00);
	float:left;
	width:300px;
	height:10px;}
.xinwentupian{
	text-align:center;
	margin:0px auto;}
.xinwenkaishile{
	margin:0px auto;
	height:700px;
	weight:1200px;
	text-align:center;
	}
.shouhang{
	height:24px;
	width:100%;
	padding-bottom:5px;}
.shouhang li{
	writing-mode:lt-tb;
	float:left;
	width:100px;
	display:inline-block;
	text-align:center; 
	text-color:white;}
.fanye{
	text-decoration:none;
	text-align:center;
	font-color:hsla(0,0%,78%,1.00);
	float:center;}
.fanye a{
	background-color:hsla(0,0%,78%,1.00);
	text-decoration:none;
	font-size:36px;
}
p{
	font-size:16px;
	line-height:200%;
	margin:0px;
	padding::0px;
	weight:400px;}
.shouhang a{
	text-decoration:none;
	font-size:24px;
	color:#FFFFFF;}
.heji{
	width:100%;
	text-align:center;
	font-size:36px;
	font:color:#000000;
	font-family:黑体;
	font-weight:bold;}
.biaoti{
	width:100%;
	text-align:center;
	font-size:24px;
	font:color:#000000;
	font-family:黑体;
	font-weight:bold;}
p.picIntro{
	font:14px/20px Verdana,Tahoma,Helvetica,Arial,sans-serif;
	color:#CCC;
	text-align:center;
	margin-top:10px;}
p.detailPic{
	text-align:center;
	margin:0PX auto;
	padding-bottom:10px;}

